.container {
    width: 1120px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}

.logo {
    border-right: 2px solid #E6E8EC;
    display: flex;
}

.logo img {
    margin-right: 8px;
}

.logo h1 {
    margin-right: 32px;
    font-size: 24px;
}

.nav {
    
}

