.loginBlock {
    width: 145px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    background: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #23262F;
    cursor: pointer;
}