.logo {
    /* border-right: 2px solid #E6E8EC; */
    display: flex;
}

.logo img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.logo h1 {
    margin-right: 32px;
    font-size: 24px;
}